{{define "content"}}
<section class="container">
  <div class="columns">
    <div class="column">
      {{ $root := .Root}}
      {{ range $Note := .NoteList }}
        <div class="input-group spacing-top">
          <span class="input-group-addon spacing-left">
            {{ $Note.Title }}
          </span>
          <a class="btn btn-action spacing-left" href="{{$root}}view/{{$Note.ID}}">
            <i class="icon icon-forward">View</i>
          </a>
        </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
